@font-face {
    font-family: 'Aeonik Pro Regular';
    src: url('../fonts/Aeonik Pro Regular.eot');
    src: url('../fonts/Aeonik Pro Regular.ttf');
    src: url('../fonts/Aeonik Pro Regular.woff2');
}

@font-face {
    font-family: 'Aeonik Pro Medium';
    src: url('../fonts/Aeonik Pro Regular.eot');
    src: url('../fonts/Aeonik Pro Regular.ttf');
    src: url('../fonts/Aeonik Pro Regular.woff2');
}

@font-face {
    font-family: 'Aeonik Pro Bold';
    src: url('../fonts/Aeonik Pro Regular.eot');
    src: url('../fonts/Aeonik Pro Regular.ttf');
    src: url('../fonts/Aeonik Pro Regular.woff2');
}