.header {
    position: fixed;
    width: 100%;
    top: 20px;
    z-index: 5;
    transform: translateY(-130%);
    transition: all 0.3s ease;
}

.header.active {
    transform: translateY(0);
}

.header__box {
    margin-left: -15px;
    margin-right: -15px;
    background-color: #0a0e12;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.header__menu {
    width: 35%;
    font-size: 15px;
}

.header__logo-box {
    padding: 14px 0;
}

.header__logo-box img {
    max-width: 221px;
    transition: 0.5s;
}

.header__logo-box img:hover {
    opacity: 0.85;
}

.header__menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.75px;
}

.header__menu li {
    display: flex;
    align-items: center;
    /* transition: 0.3s; */
}

.header__menu li:hover::before {
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    background-color: #3aae2a;
    border-radius: 30px;
    margin-left: -22px;
    /*margin-bottom: 4px;*/
    /* transition: 0.3s; */
}

.header__menu .active::before {
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    background-color: #3aae2a;
    border-radius: 30px;
    margin-left: -22px;
    /*margin-bottom: 4px;*/
    transition: 0.3s;
}

.header__contacts {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header__tel {
    color: #ffffff;
    margin-right: 25px;
    letter-spacing: 0.7px;
    transition: 0.3s;
}

.header__tel:hover {
    color: #3aae2a;
}

.header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: #3aae2a;
    text-transform: uppercase;
    border-radius: 21px;
    background-color: #3c3c3c;
    padding: 15px 25px 13px 25px;
    letter-spacing: 0.7px;
    transition: 0.3s;
}

.header__btn:hover {
    background-color: #3aae2a;
    color: #ffffff;
}

.header__mail {
    display: none;
}

.burger {
    display: none;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.burger span {
    background-color: #fff;
    height: 2px;
    width: 100%;
    transform: scale(1);
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
    background-color: #7d7e80;
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
    background-color: #7d7e80;
}

.header__icons {
    display: none;
    padding-top: 15px;
}

.header__icons a {
    display: inline-block;
    margin-right: 20px;
}

@media (max-width: 1200px) {
    .header__menu {
        display: none;
    }
    .burger {
        display: flex;
        position: absolute;
        right: 5%;
        top: 27px;
    }
    .header__contacts {
        display: none;
    }
    .header__btn {
        border: 1px solid #3aae2a;
        background-color: transparent;
        padding: 15px 40px;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 35px;
    }
    .header.open {
        top: 0 !important;
        background-color: #0a0e12;
    }
    .header.open .header__menu {
        display: block;
        padding-top: 30px;
        font-size: 20px;
    }
    .header__menu a {
        text-transform: none;
    }
    .header.open .header__contacts {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-bottom: 50px;
    }
    .header__box {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }
    .header__menu ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__menu li {
        padding-bottom: 20px;
    }
    .header__mail {
        display: block;
        color: #ffffff;
        font-size: 16px;
        padding-top: 15px;
    }
    .header__tel {
        margin-right: 0;
        font-size: 16px;
    }
    .header__icons {
        display: block;
    }
    .header__menu .active::before {
        margin-left: -14px;
    }
    .header__menu li:hover::before {
        margin-left: -14px;
    }
}

@media (max-width: 768px) {
    .header__box {
        margin-left: 0;
        margin-right: 0;
    }
}