* {
    box-sizing: border-box;
}

body {
    font-family: 'Aeonik Pro Regular';
}

img {
    width: 100%;
    vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}



.container {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;    
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


input, select, textarea {
    outline: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

select {
    cursor: pointer;
    appearance: none;
    color: #25292d;
    background: #ffffff url(../img/select-arrow.svg) no-repeat right;
    background-position-y: 35px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: #25292d;
 }
 :-moz-placeholder { /* Upto Firefox 18, Deprecated in Firefox 19  */
    color: #25292d; 
 }
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #25292d; 
 }
 ::-moz-input-placeholder {  /* Firefox 19+ */
    color: #25292d; 
 }

 :-ms-input-placeholder {  
    color: #25292d; 
 }

 ::-moz-placeholder, :-moz-placeholder {
    opacity: 1;
}


.placeholder-container {
    position: relative;
    width: 100%;
}
.placeholder-container input {
    background-color: #FFF;
    width: 100%;
}
.placeholder-container label {
    color: #25292d;
    font-family: Verdana, sans-serif;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    bottom: 7px;
    left: 0;
}
.placeholder-container input:focus + label,
.placeholder-container input:not(:placeholder-shown) + label{
    top: 10px;
    font-size: 11px;
    color: #7d7e80;
}


.btn-base {
    display: inline-block;
    font-weight: 500;
    font-family: 'Aeonik Pro Medium';
    line-height: 1;
    font-size: 14px;
    padding: 15px 40px;
    border-radius: 30px;
    color: #3aae2a;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.btn-base--white {
    background-color: #ffffff;
}

.btn-base--black {
    background-color: #0a0e12;
}

.btn-base--black:hover {
    background-color: #3aae2a;
    color: #ffffff;  
}

.btn-base--border {
    background-color: transparent;
    border: 1px solid #3aae2a;
}

.btn-base--border:hover, .btn-base--white:hover {
    background-color: #3aae2a;
    color: #ffffff;
}


.small-title {
    text-transform: uppercase;
    color: #3aae2a;
    padding-bottom: 34px;
    letter-spacing: 0.7px;
}


.text--bold {
    font-family: 'Aeonik Pro Bold';
    font-weight: 700;
}

.text--medium {
    font-family: 'Aeonik Pro Medium';
    font-weight: 500;
}

h1, h2, h3, h4, h5 {
    color: #0a0e12;
}

p, span {
    color: #25292d;
}

h1 { /* 60 */
    font-family: 'Aeonik Pro Medium';
    font-size: 60px;
}

h2 { /* 48 */
    font-family: 'Aeonik Pro Medium';
    font-size: 48px;
}

h3 { /* 30 */
    font-family: 'Aeonik Pro Bold';
    font-size: 30px;
}

.text-22 {
    font-size: 22px;
    line-height: 140%;
}

.text-18 {
    font-size: 18px;
    line-height: 140%;
}

.text-15 {
    font-family: 'Aeonik Pro Medium';
    font-size: 15px;
    line-height: 140%;
}

.text-14 {
    font-family: 'Aeonik Pro Medium';
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 140%;
}

.text-30 {
    font-family: 'Aeonik Pro Bold';
    font-size: 30px;
    font-weight: 700;
}

.text-36 {
    font-family: 'Aeonik Pro Bold';
    font-weight: 700;
    font-size: 36px;
}

.text-50 {
    font-size: 50px;
}

.text-60 {
    font-size: 60px;
}

.text-120 {
    font-size: 120px;
}

.text-130 {
    font-size: 130px;
}

.grey-line {
    width: 100%;
    height: 1px;
    background-color: #ccd1d3;;
} 

@media (max-width: 1440px) { 
    h1 { /* 60 */
        font-family: 'Aeonik Pro Medium';
        font-size: calc(30px + 30*(100vw / 1440));
    }
    
    h2 { /* 48 */
        font-family: 'Aeonik Pro Medium';
        font-size: calc(26px + 22*(100vw / 1440));
    }
    
    h3 { /* 30 */
        font-family: 'Aeonik Pro Bold';
        font-size: calc(20px + 10*(100vw / 1440));
    }
    
    .text-22 {
        font-size: calc(18px + 4*(100vw / 1440));
        line-height: 140%;
    }
    
    .text-18 {
        font-size: calc(14px + 4*(100vw / 1440));
        line-height: 140%;
    }
    
    .text-15 {
        font-family: 'Aeonik Pro Medium';
        font-size: calc(12px + 3*(100vw / 1440));
        line-height: 140%;
    }
    
    .text-14 {
        font-family: 'Aeonik Pro Medium';
        font-size: calc(11px + 3*(100vw / 1440));
        line-height: 140%;
    }
    
    .text-30 {
        font-family: 'Aeonik Pro Bold';
        font-size: calc(24px + 6*(100vw / 1440));
        font-weight: 700;
    }
    
    .text-36 {
        font-family: 'Aeonik Pro Bold';
        font-size: calc(24px + 12*(100vw / 1440));
    }
    
    .text-50 {
        font-size: calc(25px + 25*(100vw / 1440));
    }
    
    .text-60 {
        font-size: calc(30px + 30*(100vw / 1440));
    }
    
    .text-120 {
        font-size: calc(60px + 60*(100vw / 1440));
    }
    
    .text-130 {
        font-size: calc(65px + 65*(100vw / 1440));
    }
}


@media (max-width: 768px) { 
    .small-title {
        padding-bottom: 20px;
    }

    .btn-base {
        letter-spacing: 0;
    }

    h1 {
        font-size: calc(28px + (32+32*0.7)*((100vw - 320px) / 1440));
    }
    
    h2 {
        font-size: calc(26px + (22+22*0.7)*((100vw - 320px) / 1440));
    }
    
    h3 {
        font-size: calc(20px + (10+10*0.7)*((100vw - 320px) / 1440));
    }
    
    .text-22 {
        font-size: calc(18px + (4+4*0.7)*((100vw - 320px) / 1440));
    }
    
    .text-18 {
        font-size: calc(14px + (4+4*0.7)*((100vw - 320px) / 1440));
    }
    
    .text-15 {
        font-size: calc(12px + (3+3*0.7)*((100vw - 320px) / 1440));
    }
    
    .text-14 {
        font-size: calc(11px + (3+3*0.7)*((100vw - 320px) / 1440));
    }
    
    .text-36 {
        font-size: calc(24px + (12+12*0.7)*((100vw - 320px) / 1440));
    }
    
    .text-50 {
        font-size: calc(25px + (25+25*0.7)*((100vw - 320px) / 1440));
    }

    .text-60 {
        font-size: calc(30px + (30+30*0.7)*((100vw - 320px) / 1440));
    }
    
    .text-120 {
        font-size: calc(60px + (60+60*0.7)*((100vw - 320px) / 1440));
    }
    
    .text-130 {
        font-size: calc(65px + (65+65*0.7)*((100vw - 320px) / 1440));
    }
}