.service-point {
    padding-top: 40px;
    padding-bottom: 40px;
}

.service-point__box {
    display: flex;
    justify-content: space-between;
}

.service-point__content, .service-point__img {
    width: 49%;
}

.service-point__img  img {
    object-fit: cover;
    height: 100%;
    min-height: 450px;
    max-height: 450px;
    border-radius: 14px;
}

.service-point h3 {
    padding-top: 30px;
    letter-spacing: 0.7px;
    color: #0a0e12;
}

.service-point p {
    padding-top: 22px;
    line-height: 132%;
    color: #25292d;
}

.service-point__content {
    padding-right: 5.5%;
}


.service-point.revers .service-point__content {
    padding-left: 5.5%;
    padding-right: 1.5%;
}



.service-picture {
    padding-bottom: 100px;
}

.service-picture img {
    object-fit: cover;
    height: 95vh;
    border-radius: 14px;
}



.service-main {
    padding-bottom: 92px;
}

.service-main__box {
    display: flex;
    justify-content: space-between;
}

.service-main__descr {
    width: 43%;
}

.service-main__types {
    width: 49%;
}

.service-main h2, .service-main h3 {
    color: #0a0e12;
    letter-spacing: 0.7px;
}

.service-main h3 {
    margin-top: 10px;
}

.service-main p {
    padding-top: 15px;
    color: #25292d;
    line-height: 143%;
}

.service-main ul {
    padding-top: 25px;
    color: #25292d;   
}

.service-main__box {
    padding-top: 30px;
}


.service-main ul {
    width: 75%;
}

.service-main li:first-child {
    border-top: 1px solid #ccd1d3;
}

.service-main li {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccd1d3;
    padding-left: 15px;
}

.service-main li::before {
    content: '•';
    color: #3aae2a;
    position: absolute;
    left: 0;
}


.service-baner {
    padding-top: 160px;
    padding-bottom: 50px;
}

.service-baner img {
    border-radius: 14px;
}

@media (max-width: 1024px) {
    .service-point {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .service-picture {
        padding-bottom: 70px;
    }

    
    .service-main__box {
        flex-direction: column;
    }

    .service-main__descr, .service-main__types {
        width: 100%;
    }

    .service-main__types {
        padding-top: 15px;
    }


    .service-baner {
        padding-top: 120px;
        padding-bottom: 40px;
    }    
}

@media (max-width: 768px) {
    .service-point__box {
        flex-direction: column;
    }

    .service-point__content {
        padding-right: 0;
    }
    

    .service-point__content, .service-point__img {
        width: 100%;
    }

    .service-point h3 {
        padding-top: 20px;
    }

    .service-point p {
        padding-top: 15px;
    }

    .service-point__img {
        padding-top: 15px;
    }

    .service-point__img  img {
        min-height: 300px;
    }


    .service-point.revers .service-point__box {
        flex-direction: column-reverse;
    }

    .service-point.revers .service-point__content {
        padding-left: 0;
    }


    .service-picture {
        padding-bottom: 40px;
    }

    .service-picture img {
        height: 40vh;
    }


    .service-main {
        padding-bottom: 50px;
    }

    .service-main p, .service-main ul {
        padding-top: 15px;
    }

    .service-main__box {
        padding-top: 20px;
    }

    .service-main ul {
        width: 100%;
    }
}


