.advantages {
    padding: 140px 0;
}

.advantages__box {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    width: 31.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccd1d3;
    border-radius: 14px;
    padding: 3.4%;
}

.advantages__title {
    padding-top: 45px;
    color: #0a0e12;    
}

.advantages__text {
    padding-top: 30px;
    color: #25292d; 
    width: 90%;
}

.advantages__num {
    width: 238px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #3aae2a;
    color: #3aae2a;    
}

.advantages__num p {
    padding-top: 10%;
}


@media (max-width: 1024px) {
    .advantages {
        padding: 100px 0;
    }

    .advantages__num {
        width: 200px;
    }

    .advantages__title {
        padding-top: 25px;
    }

    .advantages__text {
        padding-top: 10px;
        width: 100%;
    }
}


@media (max-width: 768px) {
    .advantages {
        padding: 50px 0;
    }

    .advantages__box {
        flex-direction: column;
        align-items: center;
    }

    .advantages__item:first-child {
        margin-top: 0;
    }

    .advantages__item {
        width: 90%;
        margin-top: 15px;
    }

    .advantages__num {
        width: 160px;
    }

    .advantages__text {
        width: 70%;
    }
}


@media (max-width: 525px) {
    .advantages__num {
        width: 140px;
    }

    .advantages__title {
        padding-top: 15px;
    }

    .advantages__text {
        width: 85%;
    }
}