.clients {
    padding-bottom: 110px;
    padding-top: 125px;
}

.logo {
    padding-top: 4.2%;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
}

.logo-box {
    animation: scroll 20s linear infinite;
    flex-shrink: 0;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    min-width: 100%;
}

.logo__item {
    /* flex: 0 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    transition: all 0.1s ease-in-out;
    max-height: 100px;
}


@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
}


.clients-figure {
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: baseline;
    white-space: nowrap;
}

.clients-figure span {
    color: #0a0e12;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
}

.clients-figure span:nth-child(3) {
    margin-left: 20px;
}


.clients__text {
    text-align: center;
    color: #3aae2a;
}


.clients.practice--service {
    padding-bottom: 115px;
    padding-top: 90px;
}

.running {
    /* opacity: 1;
    transition: opacity 1s ease-in-out; */
    display: flex;
}

/* .running span {
    margin-left: -30px;
} */


@media (max-width: 1024px) { 
    .clients {
        padding: 100px 0;
    }
}

@media (max-width: 768px) { 
    .clients {
        padding-top: 85px;
        padding-bottom: 60px;
    }

    .clients-figure span {
        margin-right: 0;
    }

    .clients-figure .running span {
        font-size: 90px;
    }

    .clients-figure span:nth-child(3) {
        margin-left: 10px;
    }

    .clients-figure span sup {
        font-size: 15px;
    }

    .clients-figure .text-30 {
        font-size: 23px;
    }

    .clients.practice--service {
        padding-bottom: 30px;
        padding-top: 40px;
    }

    .clients__text br {
        display: none;
    }

    .clients__text {
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        margin-top: 5px;
        width: 87%;
        margin-left: auto;
        margin-right: auto;
        line-height: 24px;
    }

    .logo {
        padding-top: 42px;
    }
}