/* Слайдер */
.slider {
    min-width: 0;
    position: relative;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}

.slider .slick-slide {
    margin: 0 10px;
}


.practice {
    padding-top: 100px;
}

.practice.practice--services {
    padding-bottom: 100px;
}

.practice.practice--service {
    padding-bottom: 130px;
}

.practice.practice--black {
    padding-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 40px;
    background-color: #0a0e12;
}

.practice.practice--black h3 a {
    color: #ffffff;
}

.practice.practice--black h2 {
    color: #ffffff;
}

.practice.practice--black .practice__btn {
    color: #7d7e80;
}

.practice__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 3.5%;
}

.practice__btn {
    white-space: nowrap;
    color: #0a0e12;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 21px;
    border: 1px solid #ccd1d3;
    padding: 16px 40px;
    display: inline-block;
}

.practice.practice--black .practice__btn:hover {
    color: #ffffff;
}

.practice__btn:hover {
    color: #ffffff;
    background-color: #3aae2a;
    border: none;
}


.slider__btn {
    color: #5a5a5a;
    border-radius: 15px;
    border: 1px solid #ccd1d3;
    background-color: transparent;
    padding: 11px 15px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
}

/* .slider__btn:hover {
    color: #ffffff;
    background-color: #3aae2a;
} */

.slider__item img {
    border-radius: 10px;
    height: 340px;
    object-fit: cover;
}

.slider h3 {
    color: #0a0e12;
    padding: 7.5% 0;
}

.slider h3 a {
    color: #0a0e12;
}

@media (max-width: 1024px) {
    .slider__item img {
        height: 290px;
    }
}

@media (max-width: 768px) {
    .practice {
        padding-top: 50px;
    }

    .slider__item img {
        height: 260px;
    }

    .practice.practice--black {
        padding-bottom: 50px;
        margin-bottom: 20px;
    }

    .practice.practice--services {
        padding-bottom: 50px;
    }

    .practice.practice--service {
        padding-bottom: 60px;
    }
}


@media (max-width: 475px) {
    .practice__top {
        flex-direction: column;
        align-items: flex-start;
    }

    .practice__top h2 {
        margin-bottom: 15px;
    }
}