.consult {
    padding: 110px 0;
    background: url(../img/consult-bg.png) no-repeat center;
    background-size: cover;
}

.consult__box {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.consult__title {
    text-transform: uppercase;
    color: #3aae2a;
    letter-spacing: 0.7px;
}

.consult__slogan {
    color: #ffffff;
    padding-top: 26px;
    line-height: 108%;
}

.consult__text {
    color: #ffffff;
    padding: 25px 16%;
}

.consult__btns {
    padding-top: 11px;
}

.consult__btns .btn-base:first-child {
    margin-left: 0;
} 

.consult__btns .btn-base {
    margin-left: 15px;
}

.consult.consult--portfolio {
    background: url(../img/portfolio-bg.png) no-repeat center;
    background-size: cover;
}

.consult.consult--service {
    background: url(../img/portfolio-bg.png) no-repeat center;
    background-size: cover;
}

.consult-block .consult {
    background: url(../img/welcom-bg.png) no-repeat center;
    background-size: cover;
    border-radius: 14px;
    overflow: hidden;
}

.consult-block {
    padding-bottom: 140px;
}

.consult__slogan br {
    display: none;
}

@media (max-width: 1024px) { 
    .consult {
        padding: 70px 0;
    }

    .consult__box {
        width: 73%;
    }


    .consult-block {
        padding-bottom: 100px;
    }
}

@media (max-width: 768px) { 
    .consult {
        padding-bottom: 40px;
        padding-top: 35px;
    }

    .consult__box {
        width: 100%;
    }

    .consult__text {
        padding-left: 0;
        padding-right: 0;
        padding-top: 8px;
        font-size: 18px;
        line-height: 25px;
    }

    .consult__slogan {
        padding-top: 20px;
    }

    .consult__btns {
        padding-top: 5px;
    }

    .consult__btns .btn-base:first-child {
        margin-top: 0;
    } 

    .consult__btns .btn-base {
        margin-left: 0;
        margin-top: 17px;
    }

    .consult-block {
        padding-bottom: 40px;
    }

    .consult__title {
        font-size: 14px;
        font-weight: 600;
    }
}

@media (max-width: 475px) {
    .consult__btns {
        display: flex;
        flex-direction: column;
        width: 220px;
        margin: 0 auto;
    }

    
    .consult__slogan br {
        display: inherit;
    }
}