.portfolio__tabs {
    width: 950px;
}

.portfolio__tabs-wrap {
    overflow-x: scroll;
}

.portfolio__tabs input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

.portfolio__tabs label,
.portfolio__reset {
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #ccd1d3;
    background-color: transparent;
    padding: 11px 38px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #0a0e12;
    margin-bottom: 10px;
    margin-right: 12px;
    cursor: pointer;
}

.portfolio__reset {
    padding: 12.5px 38px;
}

.portfolio__reset:hover {
    border: 1px solid #25292d;
}

.portfolio__tabs label:hover {
    border: 1px solid #25292d;
}

input[type="checkbox"]:checked+label {
    border: 1px solid #0a0e12;
    background-color: #0a0e12;
    color: #ffffff;
}

.portfolio__reset.active {
    border: 1px solid #0a0e12;
    background-color: #0a0e12;
    color: #ffffff;
}

.portfolio {
    padding-top: 219px;
    padding-bottom: 140px;
}

.portfolio__item {
    display: none;
}

.portfolio__item.is-visible {
    display: block;
}

.portfolio__item.more {
    display: none;
}

.portfolio h1 {
    width: 70%;
    margin-bottom: 128px;
}

.portfolio__box {
    display: block;
    width: 100%;
}

.portfolio__item {
    display: none;
    width: 33.3%;
    padding-top: 60px;
    padding-right: 15px;
    padding-left: 15px;
}

.portfolio__item.is-visible {
    display: block;
}

.portfolio__item img {
    border-radius: 14px;
    height: 340px;
    object-fit: cover;
}


/* .portfolio__item img:hover {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
} */

.image-container {
    border-radius: 14px;
    overflow: hidden;
}

.image-container img {
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.1);
}

.portfolio__item-title {
    display: block;
    color: #0a0e12;
    width: 95%;
    padding-top: 8%;
    transition: 0.3s;
}

.portfolio__item-title:hover {
    color: #3aae2a;
}

.portfolio__tegs {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
}

.portfolio__tegs a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    color: #5a5a5a;
    padding: 10px 16px;
    border-radius: 30px;
    border: 1px solid #ccd1d3;
    background-color: transparent;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: 0.3s;
    letter-spacing: 0.69px;
}

.portfolio__tegs a:hover {
    color: #ffffff;
    background-color: #0a0e12;
    border: 1px solid #0a0e12;
}

.portfolio__btns {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.portfolio__btns a {
    margin-right: 16px;
}

.portfolio__tab {
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #ccd1d3;
    background-color: transparent;
    padding: 15px 40px 13px 39px;
    text-transform: uppercase;
    color: #0a0e12;
    margin-bottom: 10px;
    margin-right: 15px;
}

.portfolio__tab:hover {
    border: 1px solid #25292d;
}

.portfolio__tab.active {
    border: 1px solid #0a0e12;
    background-color: #0a0e12;
    color: #ffffff;
}

.portfolio__tab.all {
    /* border: 1px solid #0a0e12;
    background-color: #0a0e12;
    color: #ffffff; */
}

@media (max-width: 1200px) {
    .portfolio h1 {
        margin-bottom: 100px;
    }
    .portfolio {
        padding-top: 180px;
        padding-bottom: 100px;
    }
    .portfolio__item {
        width: 50%;
        padding-top: 40px;
    }
    .portfolio__btns {
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .portfolio {
        padding-top: 130px;
        padding-bottom: 60px;
    }
    .portfolio h1 {
        width: 100%;
        margin-bottom: 50px;
    }
    .portfolio__item img {
        height: 280px;
    }
    .portfolio__box {
        /* row-gap: 40px; */
    }
    .portfolio__btns {
        margin-top: 60px;
    }

    .portfolio__tabs {
        width: 904px;
    }
}

@media (max-width: 660px) {
    .portfolio__item {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 475px) {
    .portfolio__btns {
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .portfolio__btns a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .portfolio__tabs {
        width: 880px;
    }

    .image-container {
        border-radius: 10px;
    }
}