.advantages {
    padding: 140px 0;
}

.advantages__box {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    width: 31.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccd1d3;
    border-radius: 14px;
    padding: 3.4%;
    padding-bottom: 14px;
}

.advantages__title {
    padding-top: 45px;
    color: #0a0e12;    
}

.advantages__text {
    padding-top: 24px;
    color: #25292d; 
    width: 90%;
}

.advantages__num {
    width: 238px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #3aae2a;
    color: #3aae2a;    
}

.advantages__num p {
    padding-top: 10%;
}


@media (max-width: 1024px) {
    .advantages {
        padding: 100px 0;
    }

    .advantages__num {
        width: 200px;
    }

    .advantages__title {
        padding-top: 25px;
    }

    .advantages__text {
        padding-top: 10px;
        width: 100%;
    }

    .advantages__item svg {
        width: 200px; 
        height: 200px; 
    }
}


@media (max-width: 768px) {
    .advantages {
        padding-bottom: 50px;
        padding-top: 35px;
    }

    .advantages__box {
        width: 950px;
    }

    .advantages__item:first-child {
        margin-top: 0;
    }

    .advantages__item {
        margin-right: 23px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .advantages__num {
        width: 160px;
    }

    .advantages__text {
        width: 70%;
    }


    .advantages__item svg {
        width: 160px; 
        height: 160px; 
    }

    .advantages__box-wrap {
        overflow-x: scroll;
    }
}


@media (max-width: 525px) {
    .advantages__num {
        width: 140px;
    }

    .advantages__title {
        padding-top: 31px;
        font-size: 31px;
    }

    .advantages__text {
        width: 100%;
        font-size: 18px;
    }


    .advantages__item svg {
        width: 220px; 
        height: 220px; 
    }
}