.contact-title {
    padding-top: 210px;
    padding-bottom: 118px;
    letter-spacing: 1.2px;
}

.contact-title h1 {
    width: 50%;
    color: #0a0e12;
}



.map {
    padding-bottom: 130px;
}

.map__box {
    display: flex;
}


.map__card {
    width: 49%;
}

.map__inf {
    width: 51%;
}

.map__inf {
    padding: 7.5%;
}

.map__inf-link {
    display: block;
    color: #0a0e12;
    padding-bottom: 5px;
    letter-spacing: 0.6px;
    transition: 0.3s;
}

.map__inf-link:hover {
    color: #3aae2a;
}

.map__inf-adress {
    padding-top: 30px;
    width: 70%;
    color: #25292d;
}

.map__inf .btn-base {
    margin-top: 17px;
    display: inline-block;
}

.map__icons {
    padding-top: 45px;
}

.map__icons a {
    display: inline-block;
    margin-right: 42px;
}

.map__icons svg {
   width: 42px;
   height: 42px;
}

.map__icons svg path {
    fill: #0a0e12;
}

.map__icons a:hover svg path {
    fill: #3aae2a;
    transition: 0.3s;
}


.map__card-base iframe {
    width: 100%;
    height: 98%;
}

.map__card-base {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}


[class*="ymaps-2"][class*="-ground-pane"] {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}


@media (max-width: 1200px) { 
    .contact-title {
        padding-top: 180px;
        padding-bottom: 80px;
    }

    .map {
        padding-bottom: 100px;
    }

    .map__icons a {
        margin-right: 35px;
    }
}


@media (max-width: 768px) { 
    .contact-title {
        padding-top: 130px;
        padding-bottom: 40px;
    }

    .contact-title  h1 {
        width: 100%;
    }

    .map__inf-adress {
        padding-top: 20px;
        width: 100%;
    }

    .map__icons {
        padding-top: 30px;
    }

    .map__icons a {
        margin-right: 20px;
    }

    .map {
        padding-bottom: 50px;
    }

    .map__box {
        flex-direction: column-reverse;
    }

    .map__card, .map__inf {
        width: 100%;
    }


    .map__card-base {
        height: 350px;
    }


    .map__inf {
        padding-top: 3%;
        padding-left: 3%;
    }
}