.comment {
    padding-bottom: 60px;
    color: #0a0e12;
}

.comment.comment--company {
    padding-bottom: 90px;
}

.slider-comment {
    min-width: 0;
    position: relative;
    width: calc(100vw - (100vw - 1440px) / 1.9);
}

.slider-comment .slick-track {
    margin-left: auto;
}

.slider-comment .slick-slide {
    margin: 0 15px;
}

.slider-comment__item {
    max-width: 705px;
    border-radius: 14px;
    border: 1px solid #ccd1d3; 
    /* padding: 1.1% 0.93% 1.05% 1.3%;  */
    padding: 60px 40px 58px 77px;
}


.comment__text {
    font-weight: 700;
    padding-bottom: 30px;
    letter-spacing: 0.7px;
    line-height: 120%;
}



.slider-comment .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 1;
    font-size: 0;
    width: 42px;
    height: 42px;
    opacity: 0;
    border-radius: 30px; 
    background-color: transparent;
    border: 1px solid #383633;
    transition: 0.3s;
}

.slider-comment:hover .slick-arrow {
    opacity: 1;
}

.slider-comment .slick-arrow.slick-prev {
    background: url('../img/arrow_left-dark.svg') 0 0 / 50% no-repeat;
    background-position: center;
    left: -21px;
}

.slider-comment .slick-arrow.slick-next {
    left: calc(100vw - (100vw - 1420px) / 1);
    background: url('../img/arrow_right-dark.svg') 0 0 / 50% no-repeat;
    background-position: center;
}


.slider-comment .slick-arrow.slick-prev:hover {
    border: 1px solid #3aae2a;
    background: url('../img/arrow_left_green.svg') 0 0 / 50% no-repeat;
    background-position: center;
}

.slider-comment .slick-arrow.slick-next:hover {
    border: 1px solid #3aae2a;
    background: url('../img/arrow_right_green.svg') 0 0 / 50% no-repeat;
    background-position: center;
}


@media (max-width: 1540px) {
    .slider-comment {
        width: 100%;
    }

    .slider-comment .slick-arrow.slick-next {
        right: -20px;
        left: unset;
    }
}


@media (max-width: 1440px) {
    .slider-comment__item {
        padding: 35px; 
        width: 650px;
    }

    .comment__text {
        padding-bottom: 30px;
    }
}

@media (max-width: 1024px) { 
    .comment.comment--company {
        padding-bottom: 60px;
    }

    .comment__text {
        font-size: 25px;
    }

    .slider-comment__item {
        padding: 30px; 
    }

    .comment__text {
        padding-bottom: 20px;
    }

    .slider-comment__item {
        width: 520px;
    }
}


@media (max-width: 768px) { 
    .comment {
        padding-bottom: 40px;
    }

    .slider-comment__item {
        width: 390px;
    }
}


@media (max-width: 375px) { 
    .slider-comment__item {
        padding: 20px; 
    }
}