.formula {
    padding: 140px 0;
}

.formula__box {
    display: flex;
    align-items: stretch;
}

.formula__img {
    display: flex;
    width: 47%;
}

.formula__img img {
    object-fit: cover;
    border-radius: 10px;
}

.formula__inf {
    width: 53%;
    padding: 4% 6% 5% 6%;
}

.formula__inf h2 {
    width: 80%;
}

.formula__inf p {
    margin-top: 25px;
}



.formula .btn-base {
    margin-top: 25px;
}


@media (max-width: 1024px) {
    .formula {
        padding: 100px 0;
    }
}


@media (max-width: 768px) {
    .formula {
        padding: 50px 0;
    }

    .formula__box {
        flex-direction: column;
    }

    .formula__inf, .formula__img {
        width: 100%;
    }

    .formula__inf h2 {
        width: 100%;
    }

    .formula__img img {
        height: 200px;
    }
}