.services {
    background-color: #0a0e12;
    padding-bottom: 135px;
}

.services__banner {
    margin-bottom: 70px;
}

.services__banner img {
    border-radius: 14px;
}

.services__desc {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.services__title {
    color: #ffffff;
    width: 35%;
}

.services__text {
    color: #ffffff;
    width: 35%;
    margin-right: 10%;
}

.services-card {
    border-radius: 15px;
    margin-top: 115px;
    display: flex;
    overflow: hidden;
}

.services-card__content {
    width: 51%;
    background-color: #fff;
}

.services-card__num {
    border-radius: 14px 0;
    /* padding-top: 10px; */
    padding-top: 14px;
    padding-bottom: 7px;
    color: #ffffff;
    background-color: #3aae2a;
    margin-right: auto;
    width: 100px;
    text-align: center;
}

.services-card__num p {
    color: #ffffff;
    line-height: 1;
}

.services-card.revers .services-card__num {
    border-radius: 0 14px;
    margin-right: 0;
    margin-left: auto;
}

.services-card__img {
    width: 49%;
    height: 570px;
}

.services-card__img img {
    object-fit: cover;
    height: 100%;
}


.services-card__wrap {
    padding-left: 14.5%;
}

.services-card__wrap svg {
    margin-top: 6.5%;
}

.services-card__wrap h3 {
    margin-top: 4%;
    color: #0a0e12;
}

.services-card__wrap p {
    margin-top: 2%;
    color: #25292d;
    width: 70%;
}

.services-card__btns {
    margin-top: 4%;
    margin-bottom: 10%;
}

.services-card__btns .btn-base:first-child {
    margin-right: 15px;
}

@media (max-width: 1024px) { 
    .services {
        padding-bottom: 100px;
    }

    .services__banner {
        margin-bottom: 45px;
    }
    
    .services__text {
        margin-top: 15px;
    }

    .services-card__wrap {
        padding-left: 4%;
    }

    .services-card {
        margin-top: 70px;
    }


    .services-card__img {
        height: inherit;
    }
}


@media (max-width: 768px) { 
    .services {
        padding-bottom: 50px;
    }

    .services__banner {
        height: 260px;
        margin-bottom: 35px;
    }

    .container.banner {
        width: 100%;
    }

    .services__banner img {
        object-fit: cover;
        height: 100%;
        border-radius: 0;
    }
    
    .services__desc {
        flex-direction: column;
        padding-bottom: 0;
    }

    .services__title, .services__text {
        width: 100%;
    }

    .services__title {
        font-size: 36px;
    }

    .services__text {
        margin-top: 12px;
        font-size: 18px;
        line-height: 24px;
    }

    .services-card {
        flex-direction: column-reverse;
        border-radius: 14px;
        margin-top: 40px;
        position: relative;
    }

    .services-card.revers {
        flex-direction: column;
    }

    .services-card__content, .services-card__img {
        width: 100%;
    }

    .services-card__img {
        height: 268px;
    }

    .services-card__btns .btn-base {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .services-card__num {
        padding-top: 10px;
        position: absolute;
        top: 0;
        width: 80px;
    }

    .services-card__num p {
        font-size: 40px;
    }

    .services-card__btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 29px;
    }


    .services-card__wrap h3 {
        margin-top: 5%;
        font-size: 30px;
    }

    .services-card__wrap p {
        margin-top: 4%;
        width: 100%;
        font-size: 18px;
        line-height: 24px;
    }

    .services-card.revers .services-card__num {
        border-radius: 14px 0;
    }
}


