/* Слайдер */

.slider {
    min-width: 0;
    position: relative;
    width: calc(100vw - (100vw - 100%) / 1.9);
}


/* Слайдер запущен */

.slick-slider.slick-initialized {}


/* Слайдер с точками */

.slick-slider.slick-dotted {}


/* Ограничивающая оболочка */

.slick-list {
    overflow: hidden;
}


/* Лента слайдов */

.slick-track {
    display: flex;
}

.slider .slick-slide {
    margin: 0 14px;
}

.slider .slick-arrow {
    position: absolute;
    top: 35%;
    z-index: 1;
    font-size: 0;
    width: 42px;
    height: 42px;
    opacity: 0;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #383633;
    transition: 0.3s;
}

.slider .slick-arrow.slick-prev {
    background: url('../img/arrow_left-dark.svg') 0 0 / 50% no-repeat;
    background-position: center;
    left: -21px;
}

.slider .slick-arrow.slick-next {
    left: calc(100vw - (100vw - 1420px) / 1);
    background: url('../img/arrow_right-dark.svg') 0 0 / 50% no-repeat;
    background-position: center;
}

.slider .slick-arrow.slick-prev:hover {
    border: 1px solid #3aae2a;
    background: url('../img/arrow_left_green.svg') 0 0 / 50% no-repeat;
    background-position: center;
}

.slider .slick-arrow.slick-next:hover {
    border: 1px solid #3aae2a;
    background: url('../img/arrow_right_green.svg') 0 0 / 50% no-repeat;
    background-position: center;
}

.slider__item {
    width: 460px;
}

.slider:hover .slick-arrow {
    opacity: 1;
}

.practice {
    padding-top: 100px;
}

.practice.practice--services {
    padding-bottom: 95px;
    padding-top: 90px;
}

.practice.practice--service {
    padding-top: 85px;
    padding-bottom: 125px;
}

.practice.practice--black {
    padding-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 40px;
    background-color: #0a0e12;
}

.practice.practice--black h3 a {
    color: #ffffff;
}

.practice.practice--black h3 {
    color: #ffffff;
}

.practice.practice--black h2 {
    color: #ffffff;
}

.practice.practice--black .practice__btn {
    color: #7d7e80;
}

.practice.practice--black .slider__btn:hover {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #0a0e12;
}

.practice.practice--black .slider .slick-arrow.slick-prev {
    background: url('../img/arrow_left.svg') 0 0 / 50% no-repeat;
    background-position: center;
    left: -21px;
}

.practice.practice--black .slider .slick-arrow.slick-next {
    left: calc(100vw - (100vw - 1420px) / 1);
    background: url('../img/arrow_right.svg') 0 0 / 50% no-repeat;
    background-position: center;
}

.practice.practice--black .slider .slick-arrow.slick-prev:hover {
    border: 1px solid #3aae2a;
    background: url('../img/arrow_left_green.svg') 0 0 / 50% no-repeat;
    background-position: center;
}

.practice.practice--black .slider .slick-arrow.slick-next:hover {
    border: 1px solid #3aae2a;
    background: url('../img/arrow_right_green.svg') 0 0 / 50% no-repeat;
    background-position: center;
}

.practice.practice--black .slider .slick-arrow {
    border: 1px solid #ffffff;
}

.practice__box {
    margin-left: auto;
    width: 92.7%;
}

.practice__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 3.1%;
}

.practice__top h2 {
    letter-spacing: 1px;
}

.practice__btn {
    line-height: 1;
    white-space: nowrap;
    color: #0a0e12;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #ccd1d3;
    padding: 16px 40px;
    display: inline-block;
    letter-spacing: 0.7px;
    transition: 0.3s;
}

.practice.practice--black .practice__btn:hover {
    color: #ffffff;
}

.practice__btn:hover {
    color: #ffffff;
    background-color: #3aae2a;
    border: 1px solid #3aae2a;
}

.slider__btn {
    color: #7d7e80;
    border-radius: 30px;
    border: 1px solid #7d7e80;
    background-color: transparent;
    padding: 10px 17px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.69px;
    transition: 0.3s;
}

.slider__btn:hover {
    color: #ffffff;
    background-color: #0a0e12;
    border: 1px solid #0a0e12;
}

.slider__item img {
    border-radius: 14px;
    height: 340px;
    object-fit: cover;
}

.slider h3 {
    color: #0a0e12;
    padding-top: 6.5%;
    padding-bottom: 5%;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

.slider h3 a {
    color: #0a0e12;
    transition: 0.3s;
}

.slider h3:hover {
    color: #3aae2a;
}

.slider h3 a:hover {
    color: #3aae2a;
}


/* @media (max-width: 2420px) {
    .practice__box {
        width: calc(82% - 2%);
    }
}

@media (max-width: 2320px) {
    .practice__box {
        width: calc(84% - 4.2%);
    }
}

@media (max-width: 2220px) {
    .practice__box {
        width: calc(86% - 3.9%);
    }
}

@media (max-width: 2100px) {
    .practice__box {
        width: calc(88% - 3.4%);
    }
}


@media (max-width: 2000px) {
    .practice__box {
        width: calc(90% - 3%);
    }
}

@media (max-width: 1900px) {
    .practice__box {
        width: calc(90% - 2%);
    }
}


@media (max-width: 1830px) {
    .practice__box {
        width: calc(97% - 7.5%);
    }
}


@media (max-width: 1720px) {
    .practice__box {
        width: calc(100% - 7.5%);
    }
}


@media (max-width: 1620px) {
    .practice__box {
        width: calc(99% - 4.5%);
    }
}  

@media (max-width: 1520px) {
    .practice__box {
        width: calc(100% - 3%);
    }
}


@media (max-width: 1440px) {
    .practice__box {
        width: 96.8%;
    }
}
*/

@media (max-width: 1540px) {
    /* .slider {
        width: 100%;
    } */
    .slider .slick-arrow.slick-next {
        right: 5px;
        left: unset;
    }

    .practice.practice--black .slider .slick-arrow.slick-next {
        right: 5px;
        left: unset;
    }

    .practice.practice--black .slider .slick-arrow.slick-prev {
        left: -10px;
    }

    .slider .slick-arrow.slick-prev {
        left: -10px;
    }

}

@media (max-width: 1024px) {
    .slider__item img {
        height: 290px;
    }
}

@media (max-width: 768px) {
    .practice {
        padding-top: 35px;
    }
    .slider__item img {
        height: 260px;
    }
    .slider__item {
        width: 360px;
    }
    .practice.practice--black {
        padding-bottom: 50px;
        margin-bottom: 20px;
    }
    .practice.practice--services {
        padding-bottom: 50px;
        padding-top: 40px;
    }
    .practice.practice--service {
        padding-bottom: 60px;
    }

    .practice__top h2 {
        font-size: 36px;
    }
}

@media (max-width: 475px) {
    .practice__btn {
        display: none;
    }

    .slider .slick-slide {
        margin: 0px 12px;
    }

    .slider__item img {
        height: 215px;
    }
    
    .practice__top {
        flex-direction: column;
        align-items: flex-start;
    }
    .practice__top h2 {
        margin-bottom: 15px;
    }
    .slider__item {
        width: 289px;
    }

    .slider__item img {
        border-radius: 10px;
    }

    .slider h3 {
        padding-top: 9%;
        padding-bottom: 7%;
        letter-spacing: 0.2px;
        width: 95%;
    }

    .slider__btn {
        padding: 10px 14px;
    }
}