.services {
    background-color: #0a0e12;
    padding-bottom: 135px;
}

.services__banner {
    margin-bottom: 70px;
}

.services__banner img {
    border-radius: 14px;
}

.services__desc {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.services__title {
    color: #ffffff;
    width: 35%;
}

.services__text {
    color: #ffffff;
    width: 35%;
    margin-right: 10%;
}

.services-card {
    border-radius: 14px;
    margin-top: 115px;
    display: flex;
    overflow: hidden;
}

.services-card__content {
    width: 51%;
    background-color: #fff;
}

.services-card__num {
    border-radius: 14px 0;
    padding-top: 10px;
    color: #ffffff;
    background-color: #3aae2a;
    margin-right: auto;
    width: 100px;
    text-align: center;
}

.services-card__num p {
    color: #ffffff;
}

.services-card.revers .services-card__num {
    border-radius: 0 14px;
    margin-right: 0;
    margin-left: auto;
}

.services-card__img {
    width: 49%;
    height: 570px;
}

.services-card__img img {
    object-fit: cover;
    height: 100%;
}


.services-card__wrap {
    padding-left: 14.5%;
}

.services-card__wrap svg {
    margin-top: 6.5%;
}

.services-card__wrap h3 {
    margin-top: 4%;
    color: #0a0e12;
}

.services-card__wrap p {
    margin-top: 2%;
    color: #25292d;
    width: 70%;
}

.services-card__btns {
    margin-top: 4%;
    margin-bottom: 10%;
}

.services-card__btns .btn-base:first-child {
    margin-right: 15px;
}

@media (max-width: 1024px) { 
    .services {
        padding-bottom: 100px;
    }

    .services__banner {
        margin-bottom: 45px;
    }
    
    .services__text {
        margin-top: 15px;
    }

    .services-card__wrap {
        padding-left: 5%;
    }

    .services-card {
        margin-top: 70px;
    }


    .services-card__img {
        height: inherit;
    }
}


@media (max-width: 768px) { 
    .services {
        padding-bottom: 50px;
    }

    .services__banner {
        margin-bottom: 30px;
    }
    
    .services__desc {
        flex-direction: column;
    }

    .services__title, .services__text {
        width: 100%;
    }

    .services-card {
        flex-direction: column;
        border-radius: 14px;
    }

    .services-card.revers {
        flex-direction: column-reverse;
    }

    .services-card__content, .services-card__img {
        width: 100%;
    }

    .services-card__btns .btn-base:first-child {
        margin-right: 3px;
    }

    .services-card__num {
        padding-top: 5px;
    }

    .services-card {
        margin-top: 40px;
    }
}


@media (max-width: 375px) {
    .services-card__btns {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .services-card__btns .btn-base:first-child {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .services-card__btns .btn-base  {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-card__wrap p {
        width: 90%;
    }
}