.main {
   position: relative;
}

.main__title {
    width: 55%;
    color: #ffffff;
    padding-bottom: 26px;
    letter-spacing: 0.7px;
}


.slider-container {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    position: relative;   
}

.arrow-container {
    position: absolute;
    bottom: 40px;
    right: 0;
}

.main-slider {
    position: relative;
}

.main-slider__item {
    position: relative;
}

.main-slider__content {
    width: 100%;
    position: absolute;
    bottom: 40px;
}


.main-slider__content .btn-base {
    font-family: 'Aeonik Pro Bold';
    font-weight: 700;
}

.main-slider__item img {
    filter: brightness(0.5);
    height: 80vh;
    object-fit: cover;
}


.arrow-container .slick-arrow {
	z-index: 1;
	font-size: 0;
	width: 42px;
	height: 42px;
    border-radius: 30px; 
    background-color: transparent;
    border: 1px solid #ffffff;
    transition: 0.3s;
}

.arrow-container .slick-arrow.slick-prev {
	background: url('../img/arrow_left.svg') 0 0 / 45% no-repeat;
    background-position: center;
}

.arrow-container .slick-arrow.slick-prev:hover {
    border: 1px solid #3aae2a;
    background: url('../img/arrow_left_green.svg') 0 0 / 45% no-repeat;
    background-position: center;
}

.arrow-container .slick-arrow.slick-next {
    margin-left: 15px;
	background: url('../img/arrow_right.svg') 0 0 / 45% no-repeat;
    background-position: center;
}


.arrow-container .slick-arrow.slick-next:hover {
    border: 1px solid #3aae2a;
    background: url('../img/arrow_right_green.svg') 0 0 / 45% no-repeat;
    background-position: center;
}

.arrow-container .slider__counter {
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    bottom: 8.5px;
    white-space: nowrap;
    right: 127px;
}


.main__down-btn {
    display: block;
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.main__down-btn:hover {
    opacity: 1;
}

.main-slider__content .small-title {
    padding-bottom: 25px;
}

@media (max-width: 1540px) {
    .main__down-btn {
        left: 56%;
        transform: translate(-44%);
    }
}


@media (max-width: 1024px) {

}


@media (max-width: 768px) {
    .main__title {
        width: 100%;
        font-size: 35px;
    }

    .main__down-btn {
        display: none;
    }

    .slider__counter {
        display: none;
    }
}

@media (max-width: 475px) {
    .main-slider__content .small-title {
        display: none;
    }
}


