.consult {
    padding: 110px 0;
    background: url(../img/consult-bg.png) no-repeat center;
    background-size: cover;
}

.consult__box {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.consult__title {
    text-transform: uppercase;
    color: #3aae2a;
}

.consult__slogan {
    color: #ffffff;
    padding-top: 35px;
}

.consult__text {
    color: #ffffff;
    padding: 35px 12%;
}

.consult__btns {
    padding-top: 20px;
}

.consult__btns .btn-base:first-child {
    margin-left: 0;
} 

.consult__btns .btn-base {
    margin-left: 15px;
}

.consult.consult--portfolio {
    background: url(../img/portfolio-bg.png) no-repeat center;
    background-size: cover;
}

.consult.consult--service {
    background: url(../img/portfolio-bg.png) no-repeat center;
    background-size: cover;
}

.consult-block .consult {
    background: url(../img/welcom-bg.png) no-repeat center;
    background-size: cover;
    border-radius: 14px;
    overflow: hidden;
}

.consult-block {
    padding-bottom: 140px;
}

@media (max-width: 1024px) { 
    .consult {
        padding: 70px 0;
    }

    .consult__box {
        width: 73%;
    }


    .consult-block {
        padding-bottom: 100px;
    }
}

@media (max-width: 768px) { 
    .consult {
        padding: 40px 0;
    }

    .consult__box {
        width: 90%;
    }

    .consult__text {
        padding: 25px 12%;
    }

    .consult__slogan {
        padding-top: 25px;
    }

    .consult__btns {
        padding-top: 5px;
    }

    .consult__btns .btn-base:first-child {
        margin-top: 0;
    } 

    .consult__btns .btn-base {
        margin-left: 0;
        margin-top: 10px;
    }

    .services-card__img img {
        border-radius: 0 0 10px 10px;
    }



    .consult-block {
        padding-bottom: 40px;
    }
}

@media (max-width: 475px) {
    .consult__btns {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}